<div id="{{id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">重置邮箱密码</h3>
	</div>
	<form id="createUser" class="form-horizontal" style="margin-bottom:0">
		<input type="hidden" name="cstnetId" id="cstnetId"/>
		<div class="modal-body">
			<div class="control-group">
	           <label class="control-label">新密码：</label>
	           <div class="controls">
					<input name="password" id="password" type="password" maxlength="20" />
					<span id="password_error" class="error help-inline"></span>
			   </div>
	     	</div>
	     	<div class="control-group">
	           <label class="control-label">重新输入密码：</label>
	           <div class="controls">
					<input name="repassword" id="repassword" type="password" maxlength="20" />
					<span id="repassword_error" class="error help-inline"></span>
			   </div>
	     	</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
			<button type="submit" class="btn btn-primary" id="addDepart">确定</button>
		</div>
		<input type="hidden" name="dn" id="changeDN" value=""/>
	</form>
</div>
<script>
	$(document).ready(function(){
		var email=$(document).data('selected').asArray()[0].email;
		$('#cstnetId').val(email);
		$('#changeDN').val(vmt.currTeam.dn);
		$('#createUser').enter(function(e){
			$(this).submit();
		});
		$("#createUser").validate({
			submitHandler:function(form){
				$.post("changePassword",$(form).serialize()).done(function(data){
					$('#{{id}}').modal("hide");
				});
			},
			rules:{
				password:{required:true,minlength:8,
					 passwordAllSmall:true,
					 passwordAllNum:true,
					 passwordAllBig:true,
					 passwordHasSpace:true},
				repassword:{required:true,equalTo:"#password"}
			},
			messages:{
				password:{ 
					 required:"请输入密码",
					 minlength:"密码长度最少为8位"
				},
				repassword:{ 
					 required:"请重新输入密码",
					 equalTo:"两次输入的密码不一致"
				}
			},
			errorPlacement: function(error, element){
				var sub="_error";
				var errorPlaceId="#"+$(element).attr("name")+sub;
				$(errorPlaceId).html("");
				error.appendTo($(errorPlaceId));
			}
		});	
	})
</script>